* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  min-width: 520px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/************* MENU BLU  non è il massimo ma per ora funziona... ***********/
.fw-blu {
  background-color: rgb(44, 62, 80);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.menu {
  width: 100%;
}

#logo {
  float: left;
  line-height: 70px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 7px;
}

nav {
  float: right;
  text-align: center;
}

ul li {
  display: inline-block;
  /*padding-left: 50px;*/
  line-height: 70px;
}

.fw-blu a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.fw-blu a:hover {
  color: #1abc9c;
}

/********** HEADER BOOTSTRAP***********/

.navbar-default {
  background-color: rgb(44, 62, 80);
  height: 106px;
  border: 1px solid rgb(44, 62, 80); /*se non lo metto c'è un bordino minuscolo bianco...*/
}

.my_p1 {
  color: white;
  line-height: 65px;
  font-size: 30px;
  font-weight: bold;
}

.mio-logo {
  text-decoration: none !important;
}

.my_p2 {
  color: white;
  line-height: 65px;
  font-size: 15px;
  font-weight: bold;
}

.my_p2:hover {
  color: #1abc9c;
}

.collapsed {
  margin-top: 20px;
  width: 105px;
  height: 45px;
  position: relative;
}

.navbar-toggle {
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: #1abc9c;
  border: none;
  border-radius: 10px;
}

.navbar-toggle:hover {
  background-color: #158091 !important;
}

.collapsed .icon-bar {
  background-color: white !important;
}

.div_mio_burger,
.span_mio_menu {
  position: relative;
  float: left;
}

.div_mio_burger {
  padding-left: 5px;
  padding-top: 3px;
}

.mio-logo {
  float: left;
  margin-top: 20px;
}
.bottone {
  float: right;
  margin-top: 30px;
}

/******* HEADER SEZIONE VERDE ACQUA ******/

.fw-acqua {
  background-color: #1abc9c;
}

.contenitore-omino {
  width: 250px;
  margin: 0 auto;
  margin-top: 200px;
}

h1 {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
}

.cont-glyph {
  /*width da settare per md e lg*/
  width: 320px;
  margin: 0 auto;
  height: auto;
}

.cont-glyph div {
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}

.divisore-sx,
.divisore-dx {
  /*width da settare per md e lg*/
  width: 123px;
  border: 2px solid white;
  margin-top: 12px;
}

.fas {
  font-size: 25px; /*da settare per md e lg*/
  color: white;
}

h3 {
  /*dovrei dare "color: white" direttamente a tutto il testo di .fw-acqua è bianco, così risparmio righe di codice*/
  color: white;
}
/************* SEZIONE PORTFOLIO **********/

.fw-bianco {
  background-color: #ffffff;
}

.fw-bianco h1 {
  color: black;
  text-align: center;
  margin-top: 150px;
  /*font-size da diminuire leggermente per xs e md*/
}

.fw-bianco .cont-glyph {
  /*width da settare per xs e md*/
  width: 320px;
  margin: 0 auto;
  height: auto;
  border: none;
}

.fw-bianco .cont-glyph div {
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}

.fw-bianco .fas {
  font-size: 25px; /*da settare per xs e md*/
  color: black;
}

.fw-bianco .divisore-sx,
.fw-bianco .divisore-dx {
  /*width da settare per xs e md*/
  width: 123px;
  border: 2px solid black;
  margin-top: 12px;
}

.row {
  width: 100%;
  padding-left: 30px;
  padding-top: 40px;
  padding-bottom: 60px;
}

.colonna {
  float: left;
  border-radius: 7%;
  margin-bottom: 30px;
}

.img-responsive {
  padding-left: -15px;
  border-radius: 7%;
}

/*************** ABOUT **********/

.h1acqua {
  margin-top: 150px;
}

.overlay {
  /*nota: l'overlay va sull'intera colonna, non solo sull'immagine. Per risolvere dovrei mettere le img in un altro container e dare a lui l'overlay*/
  position: absolute;
  top: 0;
  bottom: 0;
  left: 4%;
  right: 4%;
  height: 100%;
  width: 92%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #1abc9c;
  border-radius: 20px;
}
.colonna:hover .overlay {
  opacity: 0.8;
}

.overlay .fas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: white;
}

.paragrafo-sx,
.paragrafo-dx {
  text-align: left;
  font-size: 25px;
  line-height: 35px;
  color: white;
}

.contenitore {
  width: 100%;
  border: 1px solid red;
  position: relative;
  margin-bottom: 250px;
}

.free-download {
  width: 220px;
  height: 70px;
  margin-bottom: 80px;
  background-color: #1abc9c;
  color: white;
  border: 2px solid white;
  border-radius: 7px;
  font-size: 18px;
  position: relative;
  margin-left: 50%;
  transform: translateX(-50%);
}
.fa-download {
  color: white;
}

/************* SEZIONE CONTACT ME **********/

.form-control {
  height: 100px !important;
  font-size: 23px;
  border: 1px solid rgb(179, 179, 179);
  border-left: none;
  border-right: none;
  box-shadow: none !important;
  border-radius: 0px !important;
}

.form1,
.form2,
.form3 {
  border-top: none;
}

textarea.form-control {
  border: transparent;
  border-bottom: 1px solid rgb(179, 179, 179) !important;
  height: 300px !important;
  padding-top: 30px;
}

.send-button {
  width: 120px;
  height: 90px;
  margin-top: 30px;
  background-color: #1abc9c;
  color: white;
  font-size: 25px;
  border-radius: 7%;
  border: none;
}

.send-button:hover {
  background-color: #158091;
}

/********** MOBILE***********/

@media screen and (max-width: 992px) {
  h1 {
    font-size: 65px;
    font-weight: bold;
  }

  #logo {
    width: 100%;
    text-align: center;
    float: none;
  }

  .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media all and (max-width: 524px) {
  /*non funziona...*/
  .my_p1 {
    font-size: 23px !important;
  }
}
